version: "3.8"

networks:
  demet:
    driver: bridge

services:
  #--WEBSERVER--#
  webserver:
    build:
      context: ${DEMET_PATH}/docker/apache
    image: demet-webserver
    container_name: demet-webserver
    networks:
      - demet
    ports:
      - ${HOST_PORT_WEBSERVER}:80
      - ${HOST_PORT_WEBSERVER_SSL}:443
    volumes:
      - ${DEMET_PATH}/public:/var/www/html
      - ${DEMET_PATH}/logs/webserver:/var/log/apache:rw${MOUNT_OPTIONS}
    depends_on:
      #--PHP81--#
      - php81
      #--/PHP81--#
  #--/WEBSERVER--#
  #--PHP81--#
  php81:
    build:
      context: ${DEMET_PATH}/docker/php81
    image: demet-php
    container_name: demet-php
    networks:
      - demet
    environment:
      TZ: ${TIMEZONE}
    volumes:
      - ${DEMET_PATH}/public:/var/www/html
    depends_on:
      #--MYSQL--#
      - mysql
      #--/MYSQL--#
  #--/PHP81--#
  #--MYSQL--#
  mysql:
    #--MYSQL-IMAGE--#
    image: mysql:${MYSQL_VERSION}
    #--/MYSQL-IMAGE--#
    container_name: demet-mysql
    networks:
      - demet
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_DEFAULT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DEFAULT_DB}
      MYSQL_USER: ${MYSQL_DEFAULT_USER}
      MYSQL_PASSWORD: ${MYSQL_DEFAULT_PASSWORD}
    ports:
      - ${HOST_PORT_MYSQL}:3306
    volumes:
      - ${DEMET_PATH}/docker/mysql/custom.cnf:/etc/mysql/conf.d/local.cnf
      - ${DEMET_PATH}/logs/mysql:/var/log/mysql:rw${MOUNT_OPTIONS}
      - mysql-data:/var/lib/mysql
  #--/MYSQL--#
  #--PHPMYADMIN--#
  phpmyadmin:
    image: phpmyadmin/phpmyadmin:${PHPMYADMIN_VERSION}
    container_name: demet-phpmyadmin
    networks:
      - demet
    depends_on:
      #--PHP81--#
      - php81
      #--/PHP81--#
      - mysql
    ports:
        - ${HOST_PORT_PHPMYADMIN}:80
    environment:
      MYSQL_USERNAME: ${MYSQL_DEFAULT_USER}
      MYSQL_ROOT_PASSWORD: ${MYSQL_DEFAULT_PASSWORD}
      PMA_HOST: mysql
      PMA_PORT: ${HOST_PORT_MYSQL}
  #--/PHPMYADMIN--#
volumes:
  #--MYSQL--#
  mysql-data:
    driver: "local"
  #--/MYSQL--#
